<footer>
    <section class="redesSociales">
        <a href="https://www.facebook.com/" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://web.whatsapp.com/" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </section>

    <section class="preguntasFrecuentes"> 
        <a href="#">
            <i class="fa-regular fa-circle-question"></i>
            <p>Preguntas Frecuentes</p>
        </a>

    </section>
    <section class="copyright">
        <p>© copyright-Grupo9-FullStack-DH (2022)</p>
    </section>
</footer>